body {
    background-color: aqua;
    
    padding: 30px;
    /*text-align: center;*/
    font-size: 30px;
    color: rgb(28, 6, 6);
}

h2 {
    
    font-size: 50px;
}

article {
    /*float: center;*/
    padding: 20px;
    width: 50%;
    background-color: #f1f1f1;
    height: 300px; 
}

h1 {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }